@mixin button($color: green) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);

  & span {
    font-size: 18px;
    cursor: pointer;
    &:hover {
      color: rgb(126, 114, 166);
    }
    &:active {
      color: $color;
    }
  }
}
